.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* trừ chiều cao header + footer */
  padding-top: 140px; /* chừa chỗ cho header fixed */
  text-align: center;
  background-color: #f8f9fa;
}
