.carousel-inner {
  height: 600px;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%; /* đồng bộ với khung */
  object-fit: cover;
  object-position: top center; /* cắt đều từ trên giữa */
}
